.spot-container {
    font-family: 'Nunito', sans-serif;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.spot-details {
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(185, 185, 185);
}

.booking-form-container {
    /* padding: 20px;
    margin: 20px; */
}

.spot-details {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 50px 0;
}

.spot-info {
    grid-column: 1 / span 4
}

.spot-booking-form-container {
    grid-column: 5 / span 2
}

.spot-booking-container {
    display: flex;
    justify-content: space-between;
    /* padding-left: 0px; */
    padding: 10px;
}

.spot-booking-container ul li {
    align-items: center;
    text-decoration: none;
    list-style: none;
}

/* .spot-images {
    display: flex;
}

.spot-details {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
}

.spot-container .spot-images {
    display: flex;
    justify-content: space-between;
} */

.spot-images {
    display: grid;
    gap: 10px;
    grid-template-areas:
        'a a b c'
        'a a d e';
    grid-template-rows: 162px 162px;
    grid-template-columns: 245px 245px 245px 245px;
}

.main-preview-img {
    grid-area: a;
}

.four-square-home-1 {
    grid-area: b;
}

.four-square-home-2 {
    grid-area: c;
}

.four-square-home-3 {
    grid-area: d;
}

.four-square-home-4 {
    grid-area: e;
}

.four-square-home-1 img,
.four-square-home-2 img,
.four-square-home-3 img,
.four-square-home-4 img {
    width: 100%;
}

.spot-container .main-preview-img img {
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.four-square-home-2 img {
    border-top-right-radius: 10px;
}

.four-square-home-4 img {
    border-bottom-right-radius: 10px;
}

/* 

.spot-container .four-square-home,
.spot-container .main-preview-img {
    width: 600px;
    max-width: 100%;
}

.spot-container .four-square-home .hdi {
    width: 300px;
}

.spot-container .four-square-home .hdi img {
    width: 100%;
} */

/* Booking Form */
.spot-booking-form-container {
    border: 1px solid rgb(212, 212, 212);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(186, 186, 186);
}